.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 2em;
}

header {
    background-color: lightgray;
    height: 5vh;
    padding: 10px;
}

footer {
    background-color: lightgray;
    height: 5vh;
    padding: 10px;
}

.content-a {
    height: 23vh;
    padding: 10px;
    background-color: lightgreen;
}

.content-b {
    height: 23vh;
    padding: 10px;
    background-color: green;
}

.content-c {
    padding: 10px;
    height: 23vh;
    background-color: yellow;
}

@media all and (min-width:768px) {

    .topSec {
        display: flex;
        width: 100vw;
        flex-wrap: row wrap;
    }

    .content-a {
        height: 40vh;
    }

    .content-b {
        width: 50vw;
        height: 40vh;
    }

    .content-c {
        width: 50vw;
        height: 40vh;
    }
}

@media all and (min-width:992px) {

    .section-container {
        display: flex;
        flex-direction: row;
        flex-wrap: row wrap;
        width: 100vw;
    }

    .topSec {
        display: flex;
        flex-wrap: row wrap;
    }

    .content-a {
        width: 20vw;
        height: 75vh;
        background-color: green;
    }

    .content-b {
        width: 60vw;
        height: 75vh;
        background-color: lightgreen;
    }

    .content-c {
        width: 20vw;
        height: 75vh;
    }
}