.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 2rem;
}

.header-container{
    padding: 10px;
    background-color: lightgray;
    height: 5vh;
    color: black;
}

.content-a{
    padding: 10px;
    height: 23vh;
    background-color: red;
}

.content-b{
    padding: 10px;
    height: 23vh;
    background-color: darkgoldenrod;
}

.content-c{
    padding: 10px;
    height: 23vh;
    background-color: yellow;
}

.footer-container{
    padding: 10px;
    background-color: lightgray;
    height: 5vh;
    color: black;
}
 
@media all and (min-width: 768px){
    .section-container{
        display: flex;
        flex-wrap: column wrap;
        height: 80vh;
    }

    .content-a{
        padding: 10px;
        width: 50vw;
        height: 50%;
        background-color: red;
    }
    
    .content-b{
        padding: 10px;
        width: 50vw;
        height: 50%;
        background-color: darkgoldenrod;
    }
    
    .content-c{
        padding: 10px;
        height: 100%;
        width: 50vw;
        background-color: yellow;
    }

  }

  @media all and (min-width: 992px){
    .section-container{
        display: flex;
        flex-wrap: column wrap;
        height: 80vh;
    }

    .content-a{
        padding: 10px;
        width: 70vw;
        height: 50%;
        background-color: red;
    }
    
    .content-b{
        padding: 10px;
        width: 70vw;
        height: 50%;
        background-color: darkgoldenrod;
    }
    
    .content-c{
        padding: 10px;
        height: 100%;
        width: 30vw;
        background-color: yellow;
    }

  }

  